<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sparklit.adbutler">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application>
        <activity
            android:name=".InterstitialActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_interstitial"
            android:theme="@style/HiddenTitleTheme"
            />
        <activity
            android:name=".VideoPlayer"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="VideoPlayer"
            android:theme="@style/HiddenTitleTheme"
            />
        <activity
            android:name=".BrowserView"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="BrowserView"
            android:theme="@style/HiddenTitleTheme"
            />
    </application>
</manifest>